<%= render 'pages/header'%>
<div class="container">
<div class="jumbotron-center">

<h1>New inventory</h1>

<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <% f.fields_for :products do |builder| %>
  <%= builder.label :PricePerPar, "Price" %>
  <%= builder.number_field :PricePerPar, :rows => 3 %>
  <% end %> 
  
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', inventories_path %>
</div>
</div>