<%= render 'pages/header'%>
<div class="container">
<div class="jumbotron-center">

	<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'View Inventory', inventories_path %>
</div>
</div>