<%= render 'pages/header'%>
<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

<% if user_signed_in? %>
        <div class="container">
        <div class="jumbotron center">     
         <% if current_user.subscriptions.blank? %>
            <div class="panel panel-default">
            <%= link_to 'Get a quote', new_subscription_path, class: "panel-body" %>
          </div>
         <% else %>
            
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="chart" data-percent="80" data-scale-color="#ffb400">
        <div class="text">80%</div>
      </div>
      <div class="chart-label">Micro-fiber towels</div>
    </div>  
    <div class="col-md-3">
      <div class="chart" data-percent="50" data-scale-color="#ffb400" barColor="white">
        <div class="text">50%</div>
      </div>
      <div class="chart-label">Striped Bistro Napkin</div>
    </div>
    <div class="col-md-3">
      <div class="chart" data-percent="96" data-scale-color="#ffb400">
        <div class="text">96%</div>
      </div>
      <div class="chart-label">Full Apron</div>
    </div>
    <div class="col-md-3">
      <div class="chart" data-percent="100" data-scale-color="#ffb400">
        <div class="text">100%</div>
      </div>
      <div class="chart-label">Mop Head</div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
            <div class="col-md-6">
              <%= link_to 'Edit Your Weekly Order', new_subscription_path, class: "btn btn-default btn-lg" %>
            </div>
            <div class="col-md-6">
            <%= mail_to 'help@zip-services.com', 'Contact Us' , class: "btn btn-default btn-lg" %>
          </div>
          <br>
          <br>
        <% end %>
        </div>
        </div>
            
  <% else %>  
    <div class="container">
    <div class="jumbotron center">
         <h1>Welcome to Zip-Services!</h1>
         
         <p>
           <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      	</p>    
      	
    </div>
    </div>
<% end %>