<%= render 'pages/header'%>
<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

<% if user_signed_in? %>
        <div class="container">
        <div class="jumbotron center">     
         <% if current_user.inventories.blank? %>
            <div class="panel panel-default">
            <%= link_to 'Get a quote', new_inventory_path, class: "panel-body" %>
          </div>
         <% else %>
            
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="chart" data-percent="80" data-scale-color="#ffb400">
        <div class="text">80%</div>
      </div>
      <div class="chart-label">Bar Towels</div>
    </div>  
    <div class="col-md-3">
      <div class="chart" data-percent="50" data-scale-color="#ffb400" barColor="white">
        <div class="text">50%</div>
      </div>
      <div class="chart-label">Napkins</div>
    </div>
    <div class="col-md-3">
      <div class="chart" data-percent="100" data-scale-color="#ffb400">
        <div class="text">100%</div>
      </div>
      <div class="chart-label">Floor Mats</div>
    </div>
    <div class="col-md-3">
      <div class="chart" data-percent="75" data-scale-color="#ffb400">
        <div class="text">75%</div>
      </div>
      <div class="chart-label">Soap</div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
            <%= link_to 'Edit Your Weekly Order', inventories_path, class: "btn btn-default btn-lg" %>
        <% end %>
        </div>
        </div>
            
  <% else %>  
    <div class="container">
    <div class="jumbotron center">
         <h1>Welcome to Zip-Services!</h1>
         
         <p>
           <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      	</p>    
      	
    </div>
    </div>
<% end %>