<%= render 'pages/header'%>
<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

<% if user_signed_in? %>
       <%= link_to 'View Your Inventory', inventories_path %>

  <% else %>  
    <div class="jumbotron center">
         <h1>Welcome to Zip-Services!</h1>
         
         <p>
           <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      	</p>    
      	
      	
    </div>
<% end %>