<div class="container">
<div class="jumbotron-center">

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, name = "Name"  %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ParLevelAmount, name = "Quantity in Par" %><br>
    <%= f.number_field :ParLevelAmount %>
  </div>
  <div class="field">
    <%= f.label :PricePerPar, name = "Price per Par" %><br>
    <%= f.number_field :PricePerPar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>